* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #e5e4e4 !important;
  height: 100%;
  margin: 0 auto;
  font-family: "Futura", sans-serif;
}

html {
  height: 100%;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

a:hover {
  color: inherit !important;
}

h1 {
  font-size: 36px;
  font-family: "Gentium Basic", sans-serif;
  font-weight: lighter;
  color: #0f293c;
}

p {
  margin-bottom: 0 !important;
}

.container {
  width: 90%;
  min-height: 100%;
  max-width: 1920px;
  /* height: 100%; */
  margin: 0 auto;
  position: relative;
}

.btn-blue {
  padding: 5px 7px;
  background-color: #0f293c;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 2px;
  font-weight: light;
}

.btn-blue:hover {
  background-color: #1a3f54;
}

/* --------------------------------- Header --------------------------------- */

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  background: url(Images/front\ page.jpg) no-repeat center center/cover;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
}

.title {
  color: #fff;
  padding: 20px 0 0 7%;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.title h1 {
  font-size: 60px;
  color: #fff;
}

.title h2 {
  font-size: 40px;
}

.title h3 {
  font-size: 30px;
}

.title p {
  font-size: 13px;
  letter-spacing: 4px;
}

.navbar {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px 15px !important;
}

.navbar ul {
  display: flex;
  color: #3a3a3a;
  text-decoration: none;
  font-size: 15px;
  gap: 30px;
  font-family: "Futura LT", sans-serif;
  position: relative;
  margin: 0 !important;
  padding: 0;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

.header-bottom {
  margin-top: 400px;
  padding-bottom: 40px;
  width: 30%;
  text-align: center;
  color: #fff;
  font-size: 35px;
  padding-left: 7%;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.hamburger {
  display: none;
}

.menu {
  width: 100%;
  position: absolute;
  top: -100%;
  color: #fff;
  background-color: #31759d;
  transition: all 0.2s ease;
}

.menu > ul {
  padding: 0;
  margin: 60px 0 0 0;
  width: 100%;
}

.menu ul li {
  padding: 10px 0px 10px 10px;
  border-bottom: 1px solid #ccc;
  transition: background-color;
}

.menu ul li:hover {
  background-color: #ddd;
}

.centered {
  top: 0px;
}

.historial-padding {
  padding-bottom: 300px;
}

@media screen and (max-width: 1000px) {
  .header-top {
    margin-right: 30px;
  }
}

@media screen and (max-width: 995px) {
  .header-top {
    margin-right: 0px;
  }

  .navbar {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }

  .navbar ul {
    display: none;
  }

  .header-bottom {
    align-items: center;
    width: 80%;
    margin: 300px auto;
    font-size: 29px;
  }

  .header-bottom p {
    margin-bottom: 10px;
  }

  .btn-blue {
    padding: 15px 25px;
  }

  .hamburger {
    position: relative;
    display: block;
    cursor: pointer;
    width: 35px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin-right: 0px;
    margin-top: -140px;
    z-index: 100;
  }

  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.2s;
  }

  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }
}

/* -------------------------------- Historial ------------------------------- */

.history {
  width: 100%;
  padding: 100px 20px;
  background-color: #fff;
  color: #000;
  text-align: center;
  align-items: center;
}

.text-section {
  /* text-align: center; */
  /* align-items: center; */
  margin: auto;
  max-width: 80%;
}

.history h1 {
  color: #0f293c;
  margin-bottom: 30px;
}

.subtitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px !important;
  color: #605e5e;
}

.text {
  font-family: "Futura LT", sans-serif;
  color: #605e5e;
  font-size: 16px;
  /* text-align: left; */
  line-height: 1.5rem;
}

.history button {
  margin-top: 30px;
  border-radius: 3px;
}

.history button:hover {
  background-color: #1a3f54;
}

.is-hidden {
  display: none;
}

.hide-button {
  color: #31759d;
  cursor: pointer;
}

/* --------------------------------- A banda -------------------------------- */

.a-banda {
  width: 100%;
  background-color: #90a3b1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.a-banda p {
  font-family: "Futura", sans-serif;
  color: #fff;
  font-size: 21px;
}

.banda-title {
  display: flex;
  flex-direction: column;
}

.banda-title h1 {
  padding-top: 35px;
}

.banda-title p {
  margin-top: 20px;
  font-size: 18px;
}

.banda-sections {
  margin-top: 35px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.banda-sections div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banda-sections p {
  font-stretch: semi-expanded;
}

.img-container {
  width: 90px;
  height: 90px;
  padding-bottom: 20px;
}

.img-container img {
  width: 100%;
  height: 100%;
  filter: brightness(0%);
}

@media screen and (max-width: 500px) {
  .banda-sections {
    flex-direction: column;
    gap: 30px;
  }
}
/* --------------------------------- Escola --------------------------------- */

.escola {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px 200px;
}

.escola-logo {
  width: 141px;
  height: 253px;
  margin-right: 50px;
}

.escola-logo img {
  width: 100%;
  height: 100%;
}

.escola-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.escola-text {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  text-align: left;
  width: 40%;
}

.escola-text h1 {
  margin-bottom: 40px;
}

.escola-text h2 {
  font-size: 21px;
  color: #0f293c;
}

.escola-text p {
  margin: 13px 0 30px 0;
  font-size: 15px;
  color: #605e5e;
}

.escola-img div {
  width: 297px;
  height: 176px;
}

.escola-img img {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  display: none;
}

.carousel-inner img {
  width: 297px;
  height: 176px;
}

@media screen and (max-width: 500px) {
  .escola {
    flex-direction: column;
    padding: 80px 20px;
  }

  .escola-logo {
    display: none;
  }

  .escola-img {
    display: none;
  }

  .carousel-inner {
    display: block;
  }

  .escola-text {
    width: 80%;
    margin-left: 0px;
    text-align: center;
  }

  .escola-text h1 {
    text-align: center;
    margin-top: 40px;
  }

  .escola-text h2 {
    text-align: center;
    margin-top: 40px;
  }

  .carousel-item > img {
    width: 400px;
  }
}

/* --------------------------------- Eventos -------------------------------- */

.eventos {
  background-color: #cfdff2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.eventos h1 {
  margin-bottom: 75px;
}

.eventos-section {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.eventos-section > div {
  flex: 1;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.eventos-section h2 {
  font-size: 25px;
  font-weight: 100;
  color: #605e5e;
  padding-bottom: 20px;
}

.eventos-section h6,
.eventos-section p {
  font-size: 16px;
  color: #605e5e;
  line-height: 1.5;
}

.line {
  background-color: #a0a09f;
  width: 1px;
  height: 150px;
  margin: 0 20px;
}

@media screen and (max-width: 500px) {
  .eventos-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .eventos-section span {
    display: none;
  }
}

/* -------------------------------- Sponsors -------------------------------- */

.sponsors {
  background-color: #fff;
  padding: 100px 0 0 0;
  text-align: center;
}

.sponsors h1 {
  margin-bottom: 15px;
}

.sponsors p {
  color: #2f2e2e;
  margin: 30px 0;
}

.logos {
  margin-top: 20px;
  display: flex;
  max-width: 1920px;
  width: 100%;
}

.logo {
  height: 180px;
  width: 100%;
  position: relative;
}

.logos img {
  width: 100%;
  height: 100%;
}

.logo > .img-description {
  position: absolute;
  height: 100%;
  inset: 0;
  display: flex;
  color: #fff;
  font-size: 30px;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  opacity: 0;
}

.logo > .img-description:hover {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .logos {
    flex-direction: column;
  }
}

/* --------------------------------- Contact -------------------------------- */

.contacts {
  padding: 40px 0;
  background-color: #cfdff2;
  display: flex;
  gap: 30px;
  text-align: center;
}

.map {
  padding-left: 50px;
  margin-top: auto;
}

.contacts-text {
  margin: auto;
}

.contacts-text h1 {
  margin-bottom: 40px;
}

.contacts-text p {
  font-size: 17px;
  color: #2f2e2e;
}

form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 3px;
}

form p {
  margin-top: 5px;
  text-align: left;
  color: #bada55 !important;
}

form button {
  align-self: flex-end;
}

input,
textarea {
  border: none;
  outline: none;
  padding: 7px 0 5px 7px;
  margin-bottom: 5px;
}

textarea {
  resize: none;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map,
.contacts-text {
  flex: 1;
}

@media screen and (max-width: 1500px) {
  iframe {
    width: 400px;
    height: 350px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1000px) {
  iframe {
    width: 330px;
    height: 330px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 800px) {
  iframe {
    width: 360px;
    height: 330px;
    margin-top: 50px;
  }
  .map {
    padding-left: 0px;
    margin-top: 0px;
  }

  .contacts {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  iframe {
    margin-top: 0px;
    width: 360px;
  }

  form {
    align-content: center;
    margin: 60px auto;
  }

  form button {
    width: auto;
  }
}
/* --------------------------------- partner -------------------------------- */

.partner {
  text-align: center;
  background-color: #cccccc;
  padding: 100px 0;
}

.partner > p {
  color: #fff;
  margin: 25px 0;
}

.partner span {
  transition: padding 0.2s;
}

.partner > button {
  margin-top: 20px;
}

.partner > button:hover span {
  padding-left: 5px;
}

/* --------------------------------- footer --------------------------------- */

.footer {
  background-color: #0f293c;
  /* background-color: #31759d; */
  color: #cccccc;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-size: 20px;
  color: #fff;
  font-family: "Gentium Basic", sans-serif;
  max-width: 250px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  max-width: 50px;
}

.footer-logo img {
  width: 100%;
  scale: 1/1;
}

.social {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 5px;
}

.social-icons i {
  cursor: pointer;
  margin-top: 10px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-contacts > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-contacts p {
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .footer-contacts {
    flex-direction: row;
  }
}

/* -------------------------------- Historial ------------------------------- */

.picture-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 16px;  */
}

.picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #000;
  transition: transform 0.3s ease;
}

.picture-container img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
  .picture-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .picture-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* -------------------------------- Contactos ------------------------------- */

.partner-section {
  background-color: #cfdff2;
  padding-bottom: 100px;
}

.partner-section h1 {
  padding: 50px 0;
  text-align: center;
}

.gray {
  background-color: #fff;
}

.gray input,
.gray textarea {
  background-color: #cccccc;
  margin-bottom: 20px;
}

.gray input::placeholder,
.gray textarea::placeholder {
  color: #000;
}

.red {
  color: red;
}

.partner-form {
  width: 50%;
  margin: auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
}

.partner-form form {
  margin: 0;
  width: 100%;
}

.partner-form label {
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
}

.partner-form input,
.partner-form textarea {
  border-radius: 5px;
  background-color: #ccc;
}

.checkbox {
  align-items: start;
  display: flex;
  flex-direction: column;
}

.checkbox > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.checkbox p {
  margin: 0;
}

.partner-form button {
  margin-top: 20px;
}

.checkbox-options {
  display: flex;
  gap: 10px;
}

.checkbox-options p {
  color: #000 !important;
}

.more-sponsors {
  background-color: #cfdff2;
  text-align: center;
  padding-top: 100px;
}

.more-sponsors h1 {
  padding-bottom: 50px;
}

@media screen and (max-width: 1000px) {
  .partner-form {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .partner-form {
    width: 90%;
  }
}
